Continuing with ways to explore this data.

In [95]:
%matplotlib inline
# first we ingest the data from the source on the web
# this contains a reduced version of the data set from Lending Club
import pandas as pd
import numpy as np
loansData = pd.read_csv('/home/sophie/projects/LendingClub/data/loansData.csv')

In [96]:
#This is the most useful - gives a quick look at the "spreadsheet"
print loansData.head()

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
81174             20000                       20000         8.90%   36 months
99592             19200                       19200        12.12%   36 months
80059             35000                       35000        21.98%   60 months
15825             10000                        9975         9.99%   36 months
33182             12000                       12000        11.71%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
81174  debt_consolidation               14.90%    SC       MORTGAGE
99592  debt_consolidation               28.36%    TX       MORTGAGE
80059  debt_consolidation               23.81%    CA       MORTGAGE
15825  debt_consolidation               14.30%    KS       MORTGAGE
33182         credit_card               18.78%    NJ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
81174         6541.67    735-739                 14                     14272
99592         4583.33    715-719                 12                     11140
80059        11500.00    690-694                 14                     21977
15825         3833.33    695-699                 10                      9346
33182         3195.00    695-699                 11                     14469

       Inquiries.in.the.Last.6.Months Employment.Length
81174                               2          < 1 year
99592                               1           2 years
80059                               1           2 years
15825                               0           5 years
33182                               0           9 years

In [97]:
#Split up FICO.Range
loansData['FICO.Start'],loansData['FICO.End']=zip(*loansData['FICO.Range'].apply(lambda x: x.split('-',1)))

#Change these values into integers
loansData[['FICO.Start','FICO.End']] = loansData[['FICO.Start','FICO.End']].astype('int')

I want to calculate the mean difference between the two values of FICO.Range - see a.

Though, I could still get a mean of 4 with varying ranges. 

So I also make b. 

I would like a one-liner to print out if there are any values above or below 4.

In [98]:
a = np.mean(loansData['FICO.End']-loansData['FICO.Start'])
b = loansData['FICO.End']-loansData['FICO.Start']

#List unique values in a DataFrame column
b.unique()

#can also apply .unique to the actual dataFrame to quickly look for strange values.
loansData['Loan.Length'].unique()

array(['36 months', '60 months'], dtype=object)

In [100]:
#all in one line.
loansDataNull = loansData[loansData['FICO.Start'].isin([695])]

#show us the values. This prints out everything. or a select view if you use [:]
print loansDataNull[0:5]

       Amount.Requested  Amount.Funded.By.Investors Interest.Rate Loan.Length  \
15825             10000                        9975         9.99%   36 months
33182             12000                       12000        11.71%   36 months
62127             10000                       10000        12.12%   36 months
99483             30000                       30000        19.05%   60 months
24168             17400                       17400        11.99%   36 months

             Loan.Purpose Debt.To.Income.Ratio State Home.Ownership  \
15825  debt_consolidation               14.30%    KS       MORTGAGE
33182         credit_card               18.78%    NJ           RENT
62127  debt_consolidation               17.72%    CA           RENT
99483         credit_card               21.25%    FL       MORTGAGE
24168         credit_card               12.47%    AZ           RENT

       Monthly.Income FICO.Range  Open.CREDIT.Lines  Revolving.CREDIT.Balance  \
15825         3833.33    695-699                 10                      9346
33182         3195.00    695-699                 11                     14469
62127         9000.00    695-699                 18                     20317
99483         6250.00    695-699                 12                     34927
24168         6833.33    695-699                  7                     26587

       Inquiries.in.the.Last.6.Months Employment.Length  FICO.Start  FICO.End
15825                               0           5 years         695       699
33182                               0           9 years         695       699
62127                               0           7 years         695       699
99483                               0           6 years         695       699
24168                               0           7 years         695       699

In [101]:
#can we do it in one line? Yes. Passing variable d this time. 
#To search for particular items in a column
#You can feed a variable into isin, but you can also make a list inside
# e.g. isin([])
d = [695]
print len(loansData[loansData['FICO.Start'].isin(d)])

153

In [102]:
#Min value in each column
loansData.min()

Amount.Requested                       1000
Amount.Funded.By.Investors            -0.01
Interest.Rate                        10.00%
Loan.Length                       36 months
Loan.Purpose                            car
Debt.To.Income.Ratio                     0%
State                                    AK
Home.Ownership                     MORTGAGE
Monthly.Income                        588.5
FICO.Range                          640-644
Open.CREDIT.Lines                         2
Revolving.CREDIT.Balance                  0
Inquiries.in.the.Last.6.Months            0
Employment.Length                    1 year
FICO.Start                              640
FICO.End                                644
dtype: object

In [103]:
#Max value in each column
loansData.max()

Amount.Requested                      35000
Amount.Funded.By.Investors            35000
Interest.Rate                         9.99%
Loan.Length                       60 months
Loan.Purpose                        wedding
Debt.To.Income.Ratio                  9.99%
State                                    WY
Home.Ownership                         RENT
Monthly.Income                       102750
FICO.Range                          830-834
Open.CREDIT.Lines                        38
Revolving.CREDIT.Balance             270800
Inquiries.in.the.Last.6.Months            9
Employment.Length                       n/a
FICO.Start                              830
FICO.End                                834
dtype: object


## These are extremely useful!! as it doesn't seem to matter what the type

In [104]:
#This should be one of the first commands on an unknown spreadsheet of data.
loansData.describe()

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,FICO.Start,FICO.End
count,2500.000000,2500.000000,2499.000000,2498.000000,2498.000000,2498.000000,2500.000000,2500.000000
mean,12406.500000,12001.573236,5688.931321,10.075661,15244.559648,0.906325,705.888000,709.888000
std,7801.544872,7745.320754,3963.118185,4.508644,18308.549795,1.231036,35.033161,35.033161
min,1000.000000,-0.010000,588.500000,2.000000,0.000000,0.000000,640.000000,644.000000
25%,6000.000000,6000.000000,3500.000000,7.000000,5585.750000,0.000000,680.000000,684.000000
50%,10000.000000,10000.000000,5000.000000,9.000000,10962.000000,0.000000,700.000000,704.000000
75%,17000.000000,16000.000000,6800.000000,13.000000,18888.750000,1.000000,725.000000,729.000000
max,35000.000000,35000.000000,102750.000000,38.000000,270800.000000,9.000000,830.000000,834.000000

## Explore the columns which have less than 2500 - why is this?

In [162]:
#list the names of the column headers - can we feed them into a loop to only print off those with less than the max 
#number of values?

loansData['Monthly.Income'].count()
print loansData.count()


s = loansData.iloc[0]

Amount.Requested                  2500
Amount.Funded.By.Investors        2500
Interest.Rate                     2500
Loan.Length                       2500
Loan.Purpose                      2500
Debt.To.Income.Ratio              2500
State                             2500
Home.Ownership                    2500
Monthly.Income                    2499
FICO.Range                        2500
Open.CREDIT.Lines                 2498
Revolving.CREDIT.Balance          2498
Inquiries.in.the.Last.6.Months    2498
Employment.Length                 2500
FICO.Start                        2500
FICO.End                          2500
dtype: int64

In [163]:
loansData['Monthly.Income'].count()

2499

In [177]:
#How many columns are there?
count_columns = len(loansData.count())

#What is the maximum number of values?
print max(loansData.count())

#store this max value in the variable max_count
max_count = max(loansData.count())

#Which columns have less and how much do they have?
columns_less = np.where(loansData.count() < max_count)

print columns_less

#And how much do they have?
#for some reason you have to store dataFrames as s before you can use an array as an attribute

#put the above into a variable
nan_columns = s.index[columns_less]

#print the names of the columns with less than the maximum value.
for x in s.index[columns_less]: print x

2500
(array([ 8, 10, 11, 12]),)
Monthly.Income
Open.CREDIT.Lines
Revolving.CREDIT.Balance
Inquiries.in.the.Last.6.Months

In [178]:
#to get the headings, say you want to sort by a particular one...
for x in s.index[:]: print x

Amount.Requested
Amount.Funded.By.Investors
Interest.Rate
Loan.Length
Loan.Purpose
Debt.To.Income.Ratio
State
Home.Ownership
Monthly.Income
FICO.Range
Open.CREDIT.Lines
Revolving.CREDIT.Balance
Inquiries.in.the.Last.6.Months
Employment.Length
FICO.Start
FICO.End

In [179]:
#Another way to do this    
for x in loansData: 
    print x

Amount.Requested
Amount.Funded.By.Investors
Interest.Rate
Loan.Length
Loan.Purpose
Debt.To.Income.Ratio
State
Home.Ownership
Monthly.Income
FICO.Range
Open.CREDIT.Lines
Revolving.CREDIT.Balance
Inquiries.in.the.Last.6.Months
Employment.Length
FICO.Start
FICO.End

In [117]:
for x in loansData.iloc[x]:
    if loansData.iloc[x]
#lets see if sorting actually works?
#can we loop over iloc to find the rows with nan?

Amount.Requested                            6000
Amount.Funded.By.Investors                  6000
Interest.Rate                             12.42%
Loan.Length                            36 months
Loan.Purpose                      major_purchase
Debt.To.Income.Ratio                      16.66%
State                                         NJ
Home.Ownership                              RENT
Monthly.Income                              3500
FICO.Range                               675-679
Open.CREDIT.Lines                              8
Revolving.CREDIT.Balance                    7753
Inquiries.in.the.Last.6.Months                 0
Employment.Length                        5 years
FICO.Start                                   675
FICO.End                                     679
Name: 38576, dtype: object


## Now lets try and drop off the na value, we know there is one.
Need to keep playing with this one.

In [56]:
loansData.dropna()
print len(loansData)

2500

In [63]:
#So how many NA, NaNs, Missing etc are there? You have to find the syntax for the nan EXACTLY or the following line won't
#pick it up. 

#I think we have to perform a search on each column seperately

print len(loansData[loansData['Employment.Length'].isin(['n/a'])])

77