Picking up from last time there is something I want to continue with:
 - Some columns have less than 2500 values. We don't know why those columns are missing or where they are.

Still to do to follow the exercise:                                                                                    
1) Remove outliers   
2) Remove rows with NA    
3) Save the code in a way I can still use it.

In [48]:
%matplotlib inline
# first we ingest the data from the source on the web
# this contains a reduced version of the data set from Lending Club
import pandas as pd
import numpy as np
LD = pd.read_csv('/home/sophie/projects/LendingClub/data/loansData.csv')

In [49]:
LD.dtypes

Amount.Requested                    int64
Amount.Funded.By.Investors        float64
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [65]:
#count ignores instances where there are n/a or null values. 
print LD.count()

#This gives shorter columns, but not sure what happens when you get to calculations.
print len(LD.dropna())

#Only drop if all columns are nan
print len(LD.dropna(how='all'))

Amount.Requested                  2500
Amount.Funded.By.Investors        2500
Interest.Rate                     2500
Loan.Length                       2500
Loan.Purpose                      2500
Debt.To.Income.Ratio              2500
State                             2500
Home.Ownership                    2500
Monthly.Income                    2499
FICO.Range                        2500
Open.CREDIT.Lines                 2498
Revolving.CREDIT.Balance          2498
Inquiries.in.the.Last.6.Months    2498
Employment.Length                 2500
dtype: int64
2498
2500

In [54]:
#what are the null values?

#Tells me if there are any null values. Though this is only for columns with numbers.
print LD.isnull().values.any()

#Tells me the number of null values in each column
print LD.isnull().sum()

#Total number over all columns
print LD.isnull().sum().sum()

True
Amount.Requested                  0
Amount.Funded.By.Investors        0
Interest.Rate                     0
Loan.Length                       0
Loan.Purpose                      0
Debt.To.Income.Ratio              0
State                             0
Home.Ownership                    0
Monthly.Income                    1
FICO.Range                        0
Open.CREDIT.Lines                 2
Revolving.CREDIT.Balance          2
Inquiries.in.the.Last.6.Months    2
Employment.Length                 0
dtype: int64
7

In [55]:
LD.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2,< 1 year
99592,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1,2 years
80059,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1,2 years
15825,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0,5 years
33182,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0,9 years

In [56]:
LD.describe()

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
count,2500.000000,2500.000000,2499.000000,2498.000000,2498.000000,2498.000000
mean,12406.500000,12001.573236,5688.931321,10.075661,15244.559648,0.906325
std,7801.544872,7745.320754,3963.118185,4.508644,18308.549795,1.231036
min,1000.000000,-0.010000,588.500000,2.000000,0.000000,0.000000
25%,6000.000000,6000.000000,3500.000000,7.000000,5585.750000,0.000000
50%,10000.000000,10000.000000,5000.000000,9.000000,10962.000000,0.000000
75%,17000.000000,16000.000000,6800.000000,13.000000,18888.750000,1.000000
max,35000.000000,35000.000000,102750.000000,38.000000,270800.000000,9.000000

Next: remove outliers above the 95th pcntile.