Here we will make a prediction of survival, based on gender, cabin class and ticket price using Pandas.
The initial model will be developed with the training data and then predictions made on the test data.

In [328]:
import pandas as pd
import numpy as np

df = pd.read_csv('/home/sophie/projects/Titanic/data/train.csv', header=0)

In [329]:
print(list(df))
print(df.info())
print(df.head())

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [330]:
# We want to use Sex, Ticket and Fare. Lets see how many nans there are in these columns
print('%d null values in Sex'% (len(df[df['Sex'].isnull()])))
print('%d null values in Ticket'% (len(df[df['Ticket'].isnull()])))
print('%d null values in Fare'% (len(df[df['Fare'].isnull()])))

0 null values in Sex
0 null values in Ticket
0 null values in Fare

In [331]:
# This is the best way to find null values in a dataframe.
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

So, we don't need to worry about null values in Sex, Ticket or Fare columns.

In [332]:
# Make an empty panel to store 3d data. (x,y,z)=(items, major_axis, minor_axis)
# filled with 0s to begin with. 
survival_table = pd.Panel(data = 0,items=['F', 'M'],major_axis=[0,1,2],minor_axis=[0,1,2,3])

In [333]:
print(survival_table.shape)
print(survival_table.values)  # looks good!

(2, 3, 4)
[[[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]

 [[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]]

In [334]:
# add a column to the dataframe which tells us which of the Fare bins the passenger is in.
# We define them an $0-9, $10-19, $20-29 and $30-39. If the fare is greater than $40 they get label 4. 

def binfare(x):
    if x < 10: 
        return 0
    elif (x >=10) & (x <20) : return 1   
    elif (x >=20) & (x <30) : return 2
    else: return 3

# create a new column where Fares are put into bins
print(df['Fare'][0:10])

# Make a new column with Fares in bins
df['Farebin'] = df['Fare'].map(binfare)

print(df['Farebin'][0:10])

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
5     8.4583
6    51.8625
7    21.0750
8    11.1333
9    30.0708
Name: Fare, dtype: float64
0    0
1    3
2    0
3    3
4    0
5    0
6    3
7    2
8    1
9    3
Name: Farebin, dtype: int64

In [335]:
# count the rows which meet a criteria. 
print(df[df['Age'] > 50].count()) # This is better for understanding the data.

print(len(df[df['Age'] > 50])) # This is better if you want to use in an equation

PassengerId    64
Survived       64
Pclass         64
Name           64
Sex            64
Age            64
SibSp          64
Parch          64
Ticket         64
Fare           64
Cabin          33
Embarked       63
Farebin        64
dtype: int64
64

In [336]:
# We use these to fill in our survival table
print(df.Farebin.unique())
print (df.Pclass.unique())

[0 3 2 1]
[3 1 2]

In [337]:
# Make a new column to turn female/ male to 1/0, called Gender
df['Gender'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)

print(df['Gender'][0:5])

0    1
1    0
2    0
3    0
4    1
Name: Gender, dtype: int64

In [338]:
# To select the number of people who fit certain criteria
print(len(df[(df['Pclass'] == 3) & (df['Farebin'] == 1)])) # everyone in 3rd class who paid $10-$19 for their ticket.
print(len(df[(df['Pclass'] == 3) & (df['Farebin'] == 0)])) # A much higher number in 3rd class paid $0-9
print(len(df[(df['Pclass'] == 1) & (df['Farebin'] == 0)])) # 6 people had a very cheap 1st class ticket!

81
324
6

In [339]:
print(len(df[(df['Pclass'] == 2) & (df['Farebin'] == 1)]))

98

In [340]:
num_Pclass = 3
num_binfare = 4
for i in range(num_Pclass):
    for j in range(num_binfare):
        
        # Women
        women_tot = (len(df[(df['Pclass'] == i+1) & (df['Farebin'] == j) & (df['Gender'] == 0)]))
        women_surv = (len(df[(df['Pclass'] == i+1) & (df['Farebin'] == j) & (df['Gender'] == 0) & df['Survived'] == 1]))
        
        men_tot = (len(df[(df['Pclass'] == i+1) & (df['Farebin'] == j) & (df['Gender'] == 1)]))
        men_surv = (len(df[(df['Pclass'] == i+1) & (df['Farebin'] == j) & (df['Gender'] == 1) & df['Survived'] == 1]))
        
        # No women paid for first class tickets themselves 
        if women_tot == 0: print("women, i = %d and j = %d"%(i,j))
        if women_tot != 0:
            survival_table.iloc[0,i,j] = ((women_surv/women_tot)*100)
        
        if men_tot == 0: print("men, i = %d and j = %d"%(i,j))
        if men_tot != 0:    
            survival_table.iloc[1,i,j] = ((men_surv/men_tot)*100)

women, i = 0 and j = 0
women, i = 0 and j = 1
men, i = 0 and j = 1
women, i = 1 and j = 0

This tells us that:      
- no women in first class paid \$0-19 for their tickets
- no men in first class paid \$10-19 for their tickets
- no women in second class paid \$0-9 for their tickets

In [341]:
print(survival_table.values)
print(survival_table)

[[[   0.            0.           83.33333333   97.72727273]
  [   0.           91.42857143   90.          100.        ]
  [  59.375        58.13953488   33.33333333   12.5       ]]

 [[   0.            0.           40.           38.37209302]
  [   0.           15.87301587   16.           21.42857143]
  [  11.15384615   23.68421053   12.5          24.        ]]]
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 4 (minor_axis)
Items axis: F to M
Major_axis axis: 0 to 2
Minor_axis axis: 0 to 3

In [361]:
# Take 50% chance of survival as the threshold, we transform survival_table in binary 1s/0s
def binary(x):
    
    if x >= 50: return 1
    if x < 50: return 0

In [343]:
print(survival_table['F'])
print(survival_table['M'])

        0          1          2           3
0   0.000   0.000000  83.333333   97.727273
1   0.000  91.428571  90.000000  100.000000
2  59.375  58.139535  33.333333   12.500000
           0          1     2          3
0   0.000000   0.000000  40.0  38.372093
1   0.000000  15.873016  16.0  21.428571
2  11.153846  23.684211  12.5  24.000000

I am not sure how to apply a function to all elements of a panel, so instead I will do it to the Female and Male panels seperately, as dataframes.

In [344]:
survival_table['F'] = survival_table['F'].applymap(binary)
survival_table['M'] = survival_table['M'].applymap(binary)

print(survival_table.values)

[[[0 0 1 1]
  [0 1 1 1]
  [1 1 0 0]]

 [[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]]

Based on this criteria, no men survived! 

Next, we read in the test data and test it against our survival table to make predictions.

In [345]:
df_test = pd.read_csv('/home/sophie/projects/Titanic/data/test.csv', header=0)

print(list(df_test))

['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [346]:
# Make a column with Fares in bins
df_test['Farebin'] = df_test['Fare'].map(binfare) # reusing binfare function

In [347]:
# Make a 'Gender' column
df_test['Gender'] = df_test['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [357]:
df_test['Survived'] = 0
df_test['Survived'][(df['Pclass'] == 1) & (df['Farebin'] == 0) & (df['Gender'] == 0)] = survival_table[0,i,j]
print(df[(df['Pclass'] == 1) & (df['Farebin'] == 0) & (df['Gender'] == 0)])

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Farebin, Gender]
Index: []

/home/sophie/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [358]:
# Loop over as we did before, and make a new Survived column
# Make an empty survived column first
df_test['Survived'] = 0

num_Pclass = 3
num_binfare = 4
for i in range(num_Pclass):
    for j in range(num_binfare):
        
        # Women
        df_test['Survived'][(df_test['Pclass'] == i+1) & (df_test['Farebin'] == j) & 
                            (df_test['Gender'] == 0)] = survival_table[0,i,j]
        
        # Men
        df_test['Survived'][(df_test['Pclass'] == i+1) & (df_test['Farebin'] == j) & 
                            (df_test['Gender'] == 1)] = survival_table[1,i,j]

/home/sophie/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/sophie/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [359]:
print(df_test['Survived'][0:5])

0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

In [360]:
# Output to CSV in the same format as before
df_test[['PassengerId','Survived']].to_csv('/home/sophie/projects/Titanic/data/genderclassmodel_pandas.csv', sep = " ", \
               cols = [['PassengerId','Survived']], index = False)