In [163]:
# continuing attempts to only plot months which have > 10 obs that month. 

import os
import pandas as pd
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt
%matplotlib inline

os.chdir("/home/sophie/projects/windspeed/bin/") # change to directory where the module is. Must be a better way?
from group_tseries import read_file

Sud=['62600WadiHalfa','62640AbuHamed','62650Dongola','62660Karima',
'62680Atbara'] 

wind = read_file(Sud[1])

In [164]:
# Adding rows to the wind dataFrame, ready for grouping

wind['ws_0']= wind['ws'][wind['hour'].isin([0])]
wind['ws_06']= wind['ws'][wind['hour'].isin([6])]
wind['ws_12']= wind['ws'][wind['hour'].isin([12])]
wind['ws_18']= wind['ws'][wind['hour'].isin([18])]

In [165]:
print wind[0:10]

                              date_time  year month day  hour       ws  ws_0  \
date_time
1984-03-01 12:00:00 1984-03-01 12:00:00  1984     3   1    12  5.16082   NaN
1984-03-02 12:00:00 1984-03-02 12:00:00  1984     3   2    12  3.49453   NaN
1984-03-04 06:00:00 1984-03-04 06:00:00  1984     3   4     6  3.24567   NaN
1984-03-05 12:00:00 1984-03-05 12:00:00  1984     3   5    12  3.89541   NaN
1984-03-05 18:00:00 1984-03-05 18:00:00  1984     3   5    18  5.70983   NaN
1984-03-06 18:00:00 1984-03-06 18:00:00  1984     3   6    18  4.36439   NaN
1984-03-07 12:00:00 1984-03-07 12:00:00  1984     3   7    12  3.57281   NaN
1984-03-08 12:00:00 1984-03-08 12:00:00  1984     3   8    12  2.92309   NaN
1984-03-09 06:00:00 1984-03-09 06:00:00  1984     3   9     6  4.48241   NaN
1984-03-09 12:00:00 1984-03-09 12:00:00  1984     3   9    12  1.13027   NaN

                       ws_06    ws_12    ws_18
date_time
1984-03-01 12:00:00      NaN  5.16082      NaN
1984-03-02 12:00:00      NaN  3.49453      NaN
1984-03-04 06:00:00  3.24567      NaN      NaN
1984-03-05 12:00:00      NaN  3.89541      NaN
1984-03-05 18:00:00      NaN      NaN  5.70983
1984-03-06 18:00:00      NaN      NaN  4.36439
1984-03-07 12:00:00      NaN  3.57281      NaN
1984-03-08 12:00:00      NaN  2.92309      NaN
1984-03-09 06:00:00  4.48241      NaN      NaN
1984-03-09 12:00:00      NaN  1.13027      NaN

In [166]:
group = wind.groupby(['year','month'])

#print group
#print b

group_cols=[group.ws, group.ws_0, group.ws_06, group.ws_12, group.ws_18]

c = map(lambda x: x > 10, group_cols) # Can only use dropna
#print group.ws[0:10]
#print c[0:10]

In [167]:
wind_group = group['ws','ws_0','ws_06','ws_12','ws_18'].agg(['mean','std','count'])

# This gives me the count for each individual column.
wind_group[0:3]

# Now I want a function which can turn any groups with a count < 10 into Nan
print wind_group['ws'][2:3]

                mean       std  count
year month
1984 3      4.978945  2.058805     43

In [197]:
# create two seperate functions to be fed into agg
group = wind.groupby(['year','month'])

def meanf(x):
    #print x.count()
    #if x.count() > 10:
    np.mean(x)
    #else: x == np.nan

def sdf(x):
    # if x.count() > 10:
    np.std(x)
    # else: x == np.nan

    
wind_group = group['ws','ws_0','ws_06','ws_12','ws_18'].agg(['mean','std','count'])


print wind_group[0:2]

                  ws                 ws_0              ws_06            \
                mean       std count mean std count     mean std count
year month
1984 10     3.875280       NaN     1  NaN NaN     0  3.87528 NaN     1
     12     3.751893  1.428763     4  NaN NaN     0  5.05555 NaN     1

              ws_12                 ws_18
               mean       std count  mean std count
year month
1984 10         NaN       NaN     0   NaN NaN     0
     12     3.31734  1.388895     3   NaN NaN     0

In [180]:
ws_group = group['ws'].agg(['mean','std','count'])

#print ws_group[0:5]

def meanf(x):
    #print x.count()
    if x.count() > 10:
        x == np.mean
    else: x == np.nan

def sdf(x):
    # if x.count() > 10:
    np.std(x)
    # else: x == np.nan

#group_filter = wind.groupby(['year','month']).filter(lambda x: len(x) < 10, dropna=False)    
    
#print group_filter

In [181]:
tsdf = pd.DataFrame(np.random.randn(1000, 3), index=pd.date_range('1/1/2000', periods=1000), columns=['A', 'B', 'C'])

print tsdf[0:10]

tsdf.ix[::2] = np.nan  # every second one is a nan

print tsdf[0:10]

                   A         B         C
2000-01-01 -1.087578 -0.489254 -0.778082
2000-01-02 -0.565381  1.851663 -1.231089
2000-01-03 -0.322152 -1.162601  0.453183
2000-01-04  1.144332 -0.092297 -1.079771
2000-01-05 -0.236221 -1.207431  1.056300
2000-01-06 -1.265461  1.939401  0.543690
2000-01-07  0.642592  0.095540 -0.810490
2000-01-08 -0.279442 -0.349765 -1.045544
2000-01-09 -1.313917  0.909841 -0.327049
2000-01-10  0.158442  1.127992 -1.199688
                   A         B         C
2000-01-01       NaN       NaN       NaN
2000-01-02 -0.565381  1.851663 -1.231089
2000-01-03       NaN       NaN       NaN
2000-01-04  1.144332 -0.092297 -1.079771
2000-01-05       NaN       NaN       NaN
2000-01-06 -1.265461  1.939401  0.543690
2000-01-07       NaN       NaN       NaN
2000-01-08 -0.279442 -0.349765 -1.045544
2000-01-09       NaN       NaN       NaN
2000-01-10  0.158442  1.127992 -1.199688

In [198]:
#print wind_group

for name, group in wind.groupby(['year','month']):
    #print(name)
    if len(group) > 10:
            #print name

IndentationError: expected an indented block (<ipython-input-198-7c708c57e44c>, line 7)