#### Continuing the analysis in python 3

In [100]:
# continuing attempts to only plot months which have > 10 obs that month. 

import os
import pandas as pd
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt
%matplotlib inline

os.chdir("/home/sophie/projects/windspeed/bin/") # change to directory where the module is. Must be a better way?
from group_tseries import read_file

Sud=['62600WadiHalfa','62640AbuHamed','62650Dongola','62660Karima',
'62680Atbara'] 

wind = read_file(Sud[1])

In [101]:
# Adding rows to the wind dataFrame, ready for grouping

wind['ws_0']= wind['ws'][wind['hour'].isin([0])]
wind['ws_06']= wind['ws'][wind['hour'].isin([6])]
wind['ws_12']= wind['ws'][wind['hour'].isin([12])]
wind['ws_18']= wind['ws'][wind['hour'].isin([18])]

In [102]:
print(wind[0:10])

                              date_time  year month day  hour       ws  ws_0  \
date_time
1984-03-01 12:00:00 1984-03-01 12:00:00  1984     3   1    12  5.16082   NaN
1984-03-02 12:00:00 1984-03-02 12:00:00  1984     3   2    12  3.49453   NaN
1984-03-04 06:00:00 1984-03-04 06:00:00  1984     3   4     6  3.24567   NaN
1984-03-05 12:00:00 1984-03-05 12:00:00  1984     3   5    12  3.89541   NaN
1984-03-05 18:00:00 1984-03-05 18:00:00  1984     3   5    18  5.70983   NaN
1984-03-06 18:00:00 1984-03-06 18:00:00  1984     3   6    18  4.36439   NaN
1984-03-07 12:00:00 1984-03-07 12:00:00  1984     3   7    12  3.57281   NaN
1984-03-08 12:00:00 1984-03-08 12:00:00  1984     3   8    12  2.92309   NaN
1984-03-09 06:00:00 1984-03-09 06:00:00  1984     3   9     6  4.48241   NaN
1984-03-09 12:00:00 1984-03-09 12:00:00  1984     3   9    12  1.13027   NaN

                       ws_06    ws_12    ws_18
date_time
1984-03-01 12:00:00      NaN  5.16082      NaN
1984-03-02 12:00:00      NaN  3.49453      NaN
1984-03-04 06:00:00  3.24567      NaN      NaN
1984-03-05 12:00:00      NaN  3.89541      NaN
1984-03-05 18:00:00      NaN      NaN  5.70983
1984-03-06 18:00:00      NaN      NaN  4.36439
1984-03-07 12:00:00      NaN  3.57281      NaN
1984-03-08 12:00:00      NaN  2.92309      NaN
1984-03-09 06:00:00  4.48241      NaN      NaN
1984-03-09 12:00:00      NaN  1.13027      NaN

In [151]:
# Could I turn values to Nan's at this point?

wind.groupby(['year', 'month']).count()[0:5]

            date_time  day  hour  ws  ws_0  ws_06  ws_12  ws_18
year month
1984 10             1    1     1   1     0      1      0      0
     12             4    4     4   4     0      1      3      0
     3             43   43    43  43     0     16     18      9
     4              2    2     2   2     0      1      1      0
     5              1    1     1   1     0      0      0      1

In [152]:
group = wind.groupby(['year', 'month'])
wind_group = group['ws','ws_0','ws_06','ws_12','ws_18'].agg(['mean','std','count'])

print (wind_group['ws']['mean'][0])
#print (wind_group['ws'])
(wind_group.iloc[0,2]) 

# Need to find a way to loop over the rows
#for x in wind_group.iloc[:,:]:
    #print (x)
    #if wind_group['ws']['count'][x] < 10: wind_group['ws']['mean'][x] == 0

print (wind_group['ws']['count'][0:5])

print (wind_group[0:4])

3.87528
year  month
1984  10        1
      12        4
      3        43
      4         2
      5         1
Name: count, dtype: int64
                  ws                 ws_0               ws_06                  \
                mean       std count mean std count      mean       std count
year month
1984 10     3.875280       NaN     1  NaN NaN     0  3.875280       NaN     1
     12     3.751893  1.428763     4  NaN NaN     0  5.055550       NaN     1
     3      4.978945  2.058805    43  NaN NaN     0  5.314532  1.809904    16
     4      4.845655  0.655552     2  NaN NaN     0  5.309200       NaN     1

               ws_12                    ws_18
                mean       std count     mean      std count
year month
1984 10          NaN       NaN     0      NaN      NaN     0
     12     3.317340  1.388895     3      NaN      NaN     0
     3      4.383862  2.067536    18  5.57251  2.36831     9
     4      4.382110       NaN     1      NaN      NaN     0

In [107]:
print (wind_group.iloc[0,2]) # [n,m] where n is the row, and m = 2 takes us to count for ws
print (wind_group.iloc[0,5]) # m = 5 takes us to count for ws_0
print (wind_group.iloc[3,6]) # n = 1984,3

1.0
0.0
5.3092

In [136]:
# For every row 0,3,6,9,12,15th element will be nan, if column 2 in front is less than 10
# how to loop over each row? Here we do columns

for name, group in wind_group:
    print(name)
    print(group)

ws
meanf
ws
sdf
ws_0
meanf
ws_0
sdf
ws_06
meanf
ws_06
sdf
ws_12
meanf
ws_12
sdf
ws_18
meanf
ws_18
sdf

Here, finally, is the solution I was looking for.
I made two functions to pass to aggregate - the reason this didn't work before as I was trying to use an else:, but as soon as I remove that it works, plus it automatically fills in nans where condition is not met. 
It has to be two seperate functions and they must be fed to agg() as a list [].

In [133]:
group = wind.groupby(['year', 'month'])

def meanf(x):
    if x.count() > 10:
        return x.mean()
    #else:
       # return x[:]==0

def sdf(x):
    if x.count() > 10:
        return x.std()
    #else:
       # return x[:]==0    

wind_group[0:3]        

wind_group = group['ws','ws_0','ws_06','ws_12','ws_18'].agg([meanf,sdf])

print (wind.groupby(['year', 'month']).count()[0:10])
print (wind_group[0:20])

            date_time  day  hour  ws  ws_0  ws_06  ws_12  ws_18
year month
1984 10             1    1     1   1     0      1      0      0
     12             4    4     4   4     0      1      3      0
     3             43   43    43  43     0     16     18      9
     4              2    2     2   2     0      1      1      0
     5              1    1     1   1     0      0      0      1
     7              5    5     5   5     0      1      4      0
     8             12   12    12  12     0      4      8      0
1985 1              1    1     1   1     0      1      0      0
     11             4    4     4   4     0      2      1      1
     12            32   32    32  32     0     15     14      3
                  ws            ws_0         ws_06               ws_12  \
               meanf       sdf meanf sdf     meanf       sdf     meanf
year month
1984 10          NaN       NaN   NaN NaN       NaN       NaN       NaN
     12          NaN       NaN   NaN NaN       NaN       NaN       NaN
     3      4.978945  2.058805   NaN NaN  5.314532  1.809904  4.383862
     4           NaN       NaN   NaN NaN       NaN       NaN       NaN
     5           NaN       NaN   NaN NaN       NaN       NaN       NaN
     7           NaN       NaN   NaN NaN       NaN       NaN       NaN
     8      4.418183  0.895827   NaN NaN       NaN       NaN       NaN
1985 1           NaN       NaN   NaN NaN       NaN       NaN       NaN
     11          NaN       NaN   NaN NaN       NaN       NaN       NaN
     12     5.542846  1.845311   NaN NaN  5.786211  1.227834  5.368617
1986 1      4.244412  1.007182   NaN NaN  4.639812  1.058403       NaN
     10          NaN       NaN   NaN NaN       NaN       NaN       NaN
     12     5.111817  1.802437   NaN NaN  4.896018  1.233143  4.976166
     2      4.836580  1.580973   NaN NaN  4.578693  1.117222  4.823697
     3      5.117362  1.499333   NaN NaN  5.076877  1.174299  5.062529
     4      4.509247  1.380453   NaN NaN  4.915595  1.001757  4.290779
     5      5.335420  1.142215   NaN NaN  5.545688  0.939265  5.210967
     6      4.528682  1.621170   NaN NaN       NaN       NaN       NaN
     7      3.478928  1.413347   NaN NaN       NaN       NaN       NaN
     8      3.888560  1.222490   NaN NaN       NaN       NaN  4.111336

                     ws_18
                 sdf meanf sdf
year month
1984 10          NaN   NaN NaN
     12          NaN   NaN NaN
     3      2.067536   NaN NaN
     4           NaN   NaN NaN
     5           NaN   NaN NaN
     7           NaN   NaN NaN
     8           NaN   NaN NaN
1985 1           NaN   NaN NaN
     11          NaN   NaN NaN
     12     2.479992   NaN NaN
1986 1           NaN   NaN NaN
     10          NaN   NaN NaN
     12     2.191057   NaN NaN
     2      1.840263   NaN NaN
     3      1.919998   NaN NaN
     4      1.717484   NaN NaN
     5      1.382311   NaN NaN
     6           NaN   NaN NaN
     7           NaN   NaN NaN
     8      0.973320   NaN NaN