A very basic tutorial just going over the Indexing basics of Pandas.

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [23]:
# 2 of start, end, or periods must be specified
# Default freq is day, if not specified.
# Dates is a DatetimeINDEX.
dates = pd.date_range('1/1/2000', periods=8) # from '2001-01-01' to '2000-01-08'

#Feeds in dates and four columns. np.random.randn creates 8x4 array of gaussian distributied floats. Mean 0, variance 1.
df = pd.DataFrame(np.random.randn(8,4), index=dates, columns=['A','B','C','D'])

print df

# stacks dataframs into 3D structure. Not sure what this means for accessing.
panel = pd.Panel({'one':df,'two':df - df.mean()})

                   A         B         C         D
2000-01-01 -0.333789  1.029274 -0.983921  0.958122
2000-01-02  0.093299 -1.870683  1.305894 -0.105345
2000-01-03 -0.350315 -0.232300  0.546214  1.076659
2000-01-04 -0.574096 -0.633097  0.109302 -0.985091
2000-01-05 -0.868160 -0.748304  0.264144  1.981595
2000-01-06 -0.348178 -0.869372  0.005276 -1.034909
2000-01-07  1.461590  0.551150 -0.089786  0.585488
2000-01-08 -1.444503 -0.179190  1.806362 -0.683908

In [31]:
# create a series from a column in the dataframe
s = df['A']

print s[dates[5]]
print s.size

-0.348178281859
8

In [32]:
# This is a fast way to switch the values around in these two columns
df[['B','A']] = df[['A','B']]

### Attribute Access

In [33]:
sa = pd.Series([1,2,3],index = list('abc'))
print sa

dfa = df.copy()

a    1
b    2
c    3
dtype: int64

In [35]:
print sa.b

print dfa.A

2
2000-01-01    1.029274
2000-01-02   -1.870683
2000-01-03   -0.232300
2000-01-04   -0.633097
2000-01-05   -0.748304
2000-01-06   -0.869372
2000-01-07    0.551150
2000-01-08   -0.179190
Freq: D, Name: A, dtype: float64

In [36]:
print panel.one

                   A         B         C         D
2000-01-01 -0.333789  1.029274 -0.983921  0.958122
2000-01-02  0.093299 -1.870683  1.305894 -0.105345
2000-01-03 -0.350315 -0.232300  0.546214  1.076659
2000-01-04 -0.574096 -0.633097  0.109302 -0.985091
2000-01-05 -0.868160 -0.748304  0.264144  1.981595
2000-01-06 -0.348178 -0.869372  0.005276 -1.034909
2000-01-07  1.461590  0.551150 -0.089786  0.585488
2000-01-08 -1.444503 -0.179190  1.806362 -0.683908

In [37]:
sa.a = 5

print sa

a    5
b    2
c    3
dtype: int64

In [41]:
# Make sure A exists already, otherwise it will silently create a new 'A'
# Changes the A column into a list of 1- no. of values in dfa.index
dfa.A = list(range(len(dfa.index)))

dfa

            A         B         C         D
2000-01-01  0 -0.333789 -0.983921  0.958122
2000-01-02  1  0.093299  1.305894 -0.105345
2000-01-03  2 -0.350315  0.546214  1.076659
2000-01-04  3 -0.574096  0.109302 -0.985091
2000-01-05  4 -0.868160  0.264144  1.981595
2000-01-06  5 -0.348178  0.005276 -1.034909
2000-01-07  6  1.461590 -0.089786  0.585488
2000-01-08  7 -1.444503  1.806362 -0.683908

In [44]:
# To create a new column
dfa['E'] = list(range(len(dfa.index)))

In [45]:
x = pd.DataFrame({'x':[1,2,3], 'y':[3,4,5]})

# In x, where the index is 1, changing values to 9 and 99
x.iloc[1] = dict(x=9, y=99)

print x

   x   y
0  1   3
1  9  99
2  3   5

### Slicing ranges

In [50]:
print s[::2] # every 2nd element

print s[::-1] # display in reverse order

# can also use on dataframes
print df[::2]

2000-01-01    1.029274
2000-01-03   -0.232300
2000-01-05   -0.748304
2000-01-07    0.551150
Freq: 2D, Name: A, dtype: float64
2000-01-08   -0.179190
2000-01-07    0.551150
2000-01-06   -0.869372
2000-01-05   -0.748304
2000-01-04   -0.633097
2000-01-03   -0.232300
2000-01-02   -1.870683
2000-01-01    1.029274
Freq: -1D, Name: A, dtype: float64
                   A         B         C         D
2000-01-01  1.029274 -0.333789 -0.983921  0.958122
2000-01-03 -0.232300 -0.350315  0.546214  1.076659
2000-01-05 -0.748304 -0.868160  0.264144  1.981595
2000-01-07  0.551150  1.461590 -0.089786  0.585488

In [49]:
# Can set several values at the same time
s2 = s.copy()

s2[:5] = 0

print s2

2000-01-01    0.000000
2000-01-02    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06   -0.869372
2000-01-07    0.551150
2000-01-08   -0.179190
Freq: D, Name: A, dtype: float64

In [56]:
# can use .loc to slice by label
s1 = pd.Series(np.random.randn(6),index=list('abcdef'))

print s1.loc['c':]

# This works in the documentation but not here:
#print s1.loc['c':] = 0

c   -0.326766
d    1.040527
e   -1.133564
f    1.899713
dtype: float64

In [60]:
# In a DataFrame

df1 = pd.DataFrame(np.random.randn(6,4),index=list('abcdef'),columns=list('ABCD'))

# rows a, b and d for all columns
print df1.loc[['a','b','d'],:]

# Accessing via label slices.
print df1.loc['d':,'A':'C'] # rows d to the end, for columns A to C

          A         B         C         D
a  1.701714  0.146384 -0.534952  0.304209
b -1.820183 -0.520047  1.113084 -0.091504
d -0.422794  0.182799  0.273312  0.022009
          A         B         C
d -0.422794  0.182799  0.273312
e -0.515276 -0.212989  0.890612
f -1.306985 -0.185366  0.910312

In [62]:
# Getting values with a boolean array
df1.loc['a'] > 0  # values of a greater than 0

df1.loc[:,df1.loc['a'] > 0] # print any columns where a > 0.

          A         B         D
a  1.701714  0.146384  0.304209
b -1.820183 -0.520047 -0.091504
c -0.051781  0.196170  3.073290
d -0.422794  0.182799  0.022009
e -0.515276 -0.212989  0.357480
f -1.306985 -0.185366  0.205724

In [64]:
# for getting a value explicitly. df.loc[row,column] 
print df1.loc['a','A'] # get the value at index a, column A

1.70171363336

Selecting By Position (purely integer based indexing)

In [65]:
# A list of 5 normal guassian-distributed numbers, indexeds by 2,4,6,8,10
s1 = pd.Series(np.random.randn(5), index=list(range(0,10,2))) # range goes from 0 to 10, in steps of 2

s1.iloc[:3] # from 0:3

s1.iloc[:3] = 0 # can set numbers using this too

print s1

0    0.000000
2    0.000000
4    0.000000
6   -2.228828
8    0.815360
dtype: float64

Using a DataFrame

In [70]:
# guassian distributed numbers in a 6x4 array, indexed 0,12 in 2s. Column names are numbers 0,2,4,6
df1 = pd.DataFrame(np.random.randn(6,4), index=list(range(0,12,2)), columns = list(range(0,8,2)))

df1.iloc[:3] # first 3 rows in all columns

print df1.iloc[1:5,2:4] # df.iloc[row slice, column slice]

          4         6
2 -1.872751  1.013644
4  0.501878  0.551519
6 -0.347082 -0.516324
8  0.865070  0.011884

In [76]:
# Select via integer list
df1.iloc[[1,3,5],[1,3]] # rows 1,3,5 and columns 1,3

df1.iloc[:, 1:3] # all rows, columns 1:3

print df1.iloc[1] # extract at row[1]

0    1.681683
2    0.410156
4   -1.872751
6    1.013644
Name: 2, dtype: float64

Selection by Callable - only in 18.1 !

In [77]:
# 6x4 array with a,b,c..index and A,B,C.. columns. Interesting that list splits up the string.
df1 = pd.DataFrame(np.random.randn(6,4),index=list('abcdef'),columns = list('ABCD'))

print df1

          A         B         C         D
a  0.800652 -1.985718 -0.380520 -1.134334
b -0.405658  0.397014  0.460247  0.888087
c -1.076673 -1.048207 -0.667525 -0.955009
d -0.688161  0.738929  1.584735  0.038519
e -1.134248 -0.230179 -0.819237  1.119400
f  0.393764 -1.200386 -0.106377 -0.314290

In [80]:
# df1.loc[lambda df: df.A > 0, :] # will only work with pandas 18.1

Selecting Random Samples

In [86]:
s = pd.Series([0,1,2,3,4,5])

s.sample() # returns a different number each time

print s.sample(n=3) # specify a number of rows.

print s.sample(frac=0.5) # Or a fraction of the rows

0    0
3    3
1    1
dtype: int64
4    4
5    5
3    3
dtype: int64

Boolean indexing. Operators |, & and ~ for OR, AND and NOT

In [94]:
s = pd.Series(range(-3,4)) # numbers from -3 to 4, in steps of 1

print s[s > 0]

print s[(s <-1) | (s > 0.5)] # where s is less than -1 and s is greater than 0.5.

print s[~(s <0)]

4    1
5    2
6    3
dtype: int64
0   -3
1   -2
4    1
5    2
6    3
dtype: int64
3    0
4    1
5    2
6    3
dtype: int64

Same with a dataframe

In [95]:
df[df['A'] > 0]

                   A         B         C         D
2000-01-01  1.029274 -0.333789 -0.983921  0.958122
2000-01-07  0.551150  1.461590 -0.089786  0.585488

In [100]:
df2 = pd.DataFrame({'a' : ['one', 'one', 'two', 'three', 'two', 'one', 'six'],
                    'b' : ['x', 'y', 'y', 'x', 'y', 'x', 'x'],
                    'c' : np.random.randn(7)})

# only select those that have a t at the beginning in a
# map(function, iterable, ...)
    #Apply function to every item of iterable and return a list of the results.
# loops over values in a. each values becomes x. if x starts with t, it will be returned. 
criterion = df2['a'].map(lambda x: x.startswith('t')) # returns a boolean array

print criterion

print df2[criterion]

0    False
1    False
2     True
3     True
4     True
5    False
6    False
Name: a, dtype: bool
       a  b         c
2    two  y  1.412342
3  three  x -0.589928
4    two  y  1.418972

In [101]:
# equivalent to the above, but slower.

df2[[x.startswith('t') for x in df2['a']]] #

       a  b         c
2    two  y  1.412342
3  three  x -0.589928
4    two  y  1.418972

In [102]:
# Multiple criteria

df2[criterion & (df2['b'] == 'x')]

       a  b         c
3  three  x -0.589928

Select along more than one axis using boolean vectors combined with other indexing expressions

In [103]:
# can select specific columns by using df.loc [rows,columns]
df2.loc[criterion &(df2['b']== 'x'),'b':'c']

   b         c
3  x -0.589928

#### Indexing with isin(). Select rows where one or more columns have values you want.

In [111]:
# creates a list of integers 0 - 5 which are indexed in reverse order by [::-1] - interesting trick!
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')

print s.isin([2,4,6]) # boolean array where values are 2,4,6

print s[s.isin([2,4,5])] # apply boolean array above to original array

4    False
3    False
2     True
1    False
0     True
dtype: bool
2    2
0    4
dtype: int64

Can also use it on indexes, useful if you don't know if the indexes are present or not.

In [112]:
s[s.index.isin([2,4,6])]

4    0
2    2
dtype: int64

Can be used on MultiIndex to see if a value is in a particular group

In [113]:
s_mi = pd.Series(np.arange(6), index = pd.MultiIndex.from_product([[0,1],['a','b','c']]))

print s_mi

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int64

In [116]:
# Find where group 1 has a 1-a, 2-b and 0-c. 2-b doesn't exist so it doesn't print out.
s_mi.iloc[s_mi.index.isin([(1,'a'),(2,'b'),(0,'c')])]

# Go up a level to just select from a,b,c etc

print s_mi.iloc[s_mi.index.isin(['a','c','e'], level=1)]

0  a    0
   c    2
1  a    3
   c    5
dtype: int64

Using isin() with a DataFrame

In [118]:
# DataFrame with columns vals, ids and ids2.
df = pd.DataFrame({'vals':[1,2,3,4], 'ids' : ['a','b','f','n'],'ids2': ['a','n','c','n']})

# A string to be fed to df.isin(). Doesn't matter which column they are in
values = ['a','b',1,3]

# get values from df
df.isin(values)

     ids   ids2   vals
0   True   True   True
1   True  False  False
2  False  False   True
3  False  False  False

Maybe you want to match certain values to certain columns. Make a dict where the key/values = columns/values to search for

In [119]:
values = {'ids':['a','b'], 'vals': [1,3]}

df.isin(values)

     ids   ids2   vals
0   True  False   True
1   True  False  False
2  False  False   True
3  False  False  False

Use any() and all() to select a subset of data

In [121]:
values = {'ids':['a','b'],'ids2':['a','c'], 'vals': [1,3]}

row_mask = df.isin(values).all(1)

df[row_mask] # only print out where all 3 of the criteria are met.

  ids ids2  vals
0   a    a     1

### Using where() to preserve shape

In [128]:
# Don't need to use with a dataframe, you do with series
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

df[df > 0 ] # is the same as df.where(df < 0)

                   A         B         C         D
2000-01-01       NaN       NaN       NaN  0.171462
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03  0.291439       NaN       NaN  0.484481
2000-01-04  0.807106       NaN       NaN  0.589299
2000-01-05  0.022349  0.013931  1.111319       NaN
2000-01-06       NaN  0.028567       NaN       NaN
2000-01-07       NaN  0.482857       NaN  0.068507
2000-01-08       NaN       NaN  2.159477       NaN

In [129]:
# You can also fill the "other" argument to replace false values.

df.where(df < 0, -df) # where df is less than 0 make it a -ve value.

                   A         B         C         D
2000-01-01 -0.060105 -0.266181 -0.063383 -0.171462
2000-01-02 -0.423411 -0.692950 -0.220942 -1.519901
2000-01-03 -0.291439 -0.145678 -0.154859 -0.484481
2000-01-04 -0.807106 -1.364055 -0.916221 -0.589299
2000-01-05 -0.022349 -0.013931 -1.111319 -2.049686
2000-01-06 -0.005906 -0.028567 -1.203733 -0.321108
2000-01-07 -1.532649 -0.482857 -1.797368 -0.068507
2000-01-08 -0.905793 -0.641463 -2.159477 -0.985290

It's easy to set values based on some boolean criteria

In [130]:
df2 = df.copy()

df2[df2 < 0] = 0

print df2

                   A         B         C         D
2000-01-01  0.000000  0.000000  0.000000  0.171462
2000-01-02  0.000000  0.000000  0.000000  0.000000
2000-01-03  0.291439  0.000000  0.000000  0.484481
2000-01-04  0.807106  0.000000  0.000000  0.589299
2000-01-05  0.022349  0.013931  1.111319  0.000000
2000-01-06  0.000000  0.028567  0.000000  0.000000
2000-01-07  0.000000  0.482857  0.000000  0.068507
2000-01-08  0.000000  0.000000  2.159477  0.000000

In [132]:
# you can modify the dataframe inplace

df_orig = df.copy()

df_orig.where(df > 0, -df, inplace=True)

print df_orig

                   A         B         C         D
2000-01-01  0.060105  0.266181  0.063383  0.171462
2000-01-02  0.423411  0.692950  0.220942  1.519901
2000-01-03  0.291439  0.145678  0.154859  0.484481
2000-01-04  0.807106  1.364055  0.916221  0.589299
2000-01-05  0.022349  0.013931  1.111319  2.049686
2000-01-06  0.005906  0.028567  1.203733  0.321108
2000-01-07  1.532649  0.482857  1.797368  0.068507
2000-01-08  0.905793  0.641463  2.159477  0.985290

In [134]:
print df 

df2 = df.copy()

# if any value in df2 is greater than 0, keep it. Otherwise, replace the value with the equivalent value from column
# 'A'.
print df2.where(df2>0,df2['A'], axis='index')

                   A         B         C         D
2000-01-01 -0.060105 -0.266181 -0.063383  0.171462
2000-01-02 -0.423411 -0.692950 -0.220942 -1.519901
2000-01-03  0.291439 -0.145678 -0.154859  0.484481
2000-01-04  0.807106 -1.364055 -0.916221  0.589299
2000-01-05  0.022349  0.013931  1.111319 -2.049686
2000-01-06 -0.005906  0.028567 -1.203733 -0.321108
2000-01-07 -1.532649  0.482857 -1.797368  0.068507
2000-01-08 -0.905793 -0.641463  2.159477 -0.985290
                   A         B         C         D
2000-01-01 -0.060105 -0.060105 -0.060105  0.171462
2000-01-02 -0.423411 -0.423411 -0.423411 -0.423411
2000-01-03  0.291439  0.291439  0.291439  0.484481
2000-01-04  0.807106  0.807106  0.807106  0.589299
2000-01-05  0.022349  0.013931  1.111319  0.022349
2000-01-06 -0.005906  0.028567 -0.005906 -0.005906
2000-01-07 -1.532649  0.482857 -1.532649  0.068507
2000-01-08 -0.905793 -0.905793  2.159477 -0.905793

You could also do this, though it is not as fast:

In [135]:
df2 = df.copy()

# looping over each row. apply where to x, if x is greater than 0. Change to y is condition is met. Where y is value in
# 'A'
print df2.apply(lambda x, y: x.where(x>0,y), y=df['A'])

                   A         B         C         D
2000-01-01 -0.060105 -0.060105 -0.060105  0.171462
2000-01-02 -0.423411 -0.423411 -0.423411 -0.423411
2000-01-03  0.291439  0.291439  0.291439  0.484481
2000-01-04  0.807106  0.807106  0.807106  0.589299
2000-01-05  0.022349  0.013931  1.111319  0.022349
2000-01-06 -0.005906  0.028567 -0.005906 -0.005906
2000-01-07 -1.532649  0.482857 -1.532649  0.068507
2000-01-08 -0.905793 -0.905793  2.159477 -0.905793

Where can also accept the following:

In [141]:
df3 = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6], 'C': [7,8,9]})

# this doesn't work but is in the documentation
df3.where(lambda x: x > 4, lambda x: x + 10) # ValueError: where requires an ndarray like object for its condition