In [11]:
%pylab inline
import pandas as pd
import numpy as np
df = pd.read_csv('/home/sophie/projects/LearnDataScience-master/datasets/UN.csv')

print('-----------')
# raw column information plus summary header
print(df[0:10])
print('-----------')
# look at the types of each column explicitly
print('Individual columns - Python data types')
[(x, type(df[x][0])) for x in df.columns]

Populating the interactive namespace from numpy and matplotlib
-----------
          country   region   tfr  contraception  educationMale  \
0     Afghanistan     Asia  6.90            NaN            NaN
1         Albania   Europe  2.60            NaN            NaN
2         Algeria   Africa  3.81           52.0           11.1
3  American.Samoa     Asia   NaN            NaN            NaN
4         Andorra   Europe   NaN            NaN            NaN
5          Angola   Africa  6.69            NaN            NaN
6         Antigua  America   NaN           53.0            NaN
7       Argentina  America  2.62            NaN            NaN
8         Armenia   Europe  1.70           22.0            NaN
9       Australia  Oceania  1.89           76.0           16.3

   educationFemale  lifeMale  lifeFemale  infantMortality  GDPperCapita  \
0              NaN      45.0        46.0            154.0        2848.0
1              NaN      68.0        74.0             32.0         863.0
2              9.9      67.5        70.3             44.0        1531.0
3              NaN      68.0        73.0             11.0           NaN
4              NaN       NaN         NaN              NaN           NaN
5              NaN      44.9        48.1            124.0         355.0
6              NaN       NaN         NaN             24.0        6966.0
7              NaN      69.6        76.8             22.0        8055.0
8              NaN      67.2        74.0             25.0         354.0
9             16.1      75.4        81.2              6.0       20046.0

   economicActivityMale  economicActivityFemale  illiteracyMale  \
0                  87.5                     7.2          52.800
1                   NaN                     NaN             NaN
2                  76.4                     7.8          26.100
3                  58.8                    42.4           0.264
4                   NaN                     NaN             NaN
5                   NaN                     NaN             NaN
6                  74.4                    56.2             NaN
7                  76.2                    41.3           3.800
8                  65.0                    52.0           0.300
9                  74.0                    53.8             NaN

   illiteracyFemale
0             85.00
1               NaN
2             51.00
3              0.36
4               NaN
5               NaN
6               NaN
7              3.80
8              0.50
9               NaN
-----------
Individual columns - Python data types

[('country', str),
 ('region', str),
 ('tfr', numpy.float64),
 ('contraception', numpy.float64),
 ('educationMale', numpy.float64),
 ('educationFemale', numpy.float64),
 ('lifeMale', numpy.float64),
 ('lifeFemale', numpy.float64),
 ('infantMortality', numpy.float64),
 ('GDPperCapita', numpy.float64),
 ('economicActivityMale', numpy.float64),
 ('economicActivityFemale', numpy.float64),
 ('illiteracyMale', numpy.float64),
 ('illiteracyFemale', numpy.float64)]

In [24]:
# The key point is that in the for loop below we are looking at the first VALUE in each of the columns 
# to see what datatypes they are. df.dtypes will simply say "object".
print (type(df['country'][0]))

# make a list which looks at the data type from
[(x, type(df[x][0])) for x in df.columns]

<class 'str'>

[('country', str),
 ('region', str),
 ('tfr', numpy.float64),
 ('contraception', numpy.float64),
 ('educationMale', numpy.float64),
 ('educationFemale', numpy.float64),
 ('lifeMale', numpy.float64),
 ('lifeFemale', numpy.float64),
 ('infantMortality', numpy.float64),
 ('GDPperCapita', numpy.float64),
 ('economicActivityMale', numpy.float64),
 ('economicActivityFemale', numpy.float64),
 ('illiteracyMale', numpy.float64),
 ('illiteracyFemale', numpy.float64)]

In [18]:
# This prints out the format of the COLUMN. the first two are Series objects.
# The others are numpy float arrays.
print (df.dtypes)

country                    object
region                     object
tfr                       float64
contraception             float64
educationMale             float64
educationFemale           float64
lifeMale                  float64
lifeFemale                float64
infantMortality           float64
GDPperCapita              float64
economicActivityMale      float64
economicActivityFemale    float64
illiteracyMale            float64
illiteracyFemale          float64
dtype: object

In [27]:
# How many non null values are there in each column
df.count()

country                   207
region                    207
tfr                       197
contraception             144
educationMale              76
educationFemale            76
lifeMale                  196
lifeFemale                196
infantMortality           201
GDPperCapita              197
economicActivityMale      165
economicActivityFemale    165
illiteracyMale            160
illiteracyFemale          160
dtype: int64

#### What does the above tell us?

- 14 columns, 207 countries
- We want to focus on columns with the least null values - tfr, lifeMale,lifeFemale,GDP and InfantMortality
- We suspect a clustering of lifeMale, lifeFemale and infantMortality according to GDP - will use K-means to analyse 
in detail
- We don't know how many clusters there might be
- Will use analytics too, to help decide the right number of clusters might be (possible 1 to 10)
- Each field will be converted to a scientific float needed by the numerical algorithms (are numpy floats not right?)

## Analysis

### Methods

We want to find out how many natural clusters there are. This is tested by appling k-means clustering using a different number of clusters (from 1, to 10). When we have more clusters, they will be more tightly packed and least squares error will be small. Less clusters and each cluster will have a bigger spread. 

However, each successive increase in K will not give the same drop in tightness. 

The point at which the improvement starts to level off is "the elbow". We will use the value of k at this point.

**steps**
- generate elbow curve, decide on k, run clustering over the data
- plot the clusters to visualise exactly how the clusters appear
- interpret the results

In [29]:
%pylab inline
# using the code from 
# http://stackoverflow.com/questions/6645895/calculating-the-percentage-of-variance-measure-for-k-means
# we will generate plots from the UN dataset transformed into 4 numeric columns
# lifeMale, lifeFemale, infantMortality and GDPperCapita

fName = ('/home/sophie/projects/LearnDataScience-master/datasets/UN4col.csv')
fp = open(fName)
X = np.loadtxt(fp)
fp.close()

Populating the interactive namespace from numpy and matplotlib

In [38]:
# A little query on the numpy array.
print (X.shape)
print (type(X))
print (X.ndim)
print (X.size)

(188, 4)
<class 'numpy.ndarray'>
2
752

In [40]:
import numpy as mp
from scipy.cluster.vq import kmeans,vq
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt

#### cluster into K=1..10 clusters #####
# K, KM, centroids, D_k, cIDx, dist, avgWithinSS = kmeans.run_kmeans(X,10)

K = range(1,10)

# apply kmeans 1 to 10. kmeans(obs, k_or_guess[, iter, thresh, ...]). 
# returns a codebook(A k by N array of k centroids) and 
# distortion (a float describing the distortion between the observations passed and the centroids generated)
# KM is a list of codebooks and distortion for different numbers of clusters, from 1 to 10.
KM = [kmeans(X,k) for k in K]

# cluster centroids. cent is the codebook, a numpy array, for 1 cluster, 2 clusters, 3 clusters etc..
centroids = [cent for (cent,var) in KM]

D_k = [cdist(X, cent, 'euclidean') for cent in centroids]

cIdx = [np.argmin(D, axis=1) for D in D_k]
dist = [np.min(D, axis=1) for D in D_k]
avgWithinSS = [sum(d)/X.shape[0] for d in dist]

In [52]:
print(KM[0]) # codebook, distortion for centroid 0
print(KM[1]) # codebook,distortion for centroid 1

print (centroids[0]) # codebook only for centroid 0

(array([[   63.52606383,    68.30904255,    44.30851064,  5890.59574468]]), 6534.9809626620172)
(array([[  7.39588235e+01,   7.97735294e+01,   7.73529412e+00,
          2.26397353e+04],
       [  6.12227273e+01,   6.57779221e+01,   5.23831169e+01,
          2.19273377e+03]]), 2707.2294867471232)
[[   63.52606383    68.30904255    44.30851064  5890.59574468]]